
.idea/jsLibraryMappings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/AngularJS.xml

.idea/libraries/AngularJS_1_2_9.xml

.idea/TheLab.iml

.idea/workspace.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/dictionaries/George.xml

.idea/.name